<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <alert [hidden]="!hasError(error)" type="danger">
            <button type="button" class="close" aria-label="Close" (click)="onClearError()">
              <span aria-hidden="true">&times;</span>
            </button>
            {{error}}
          </alert>
          <h5 class="card-title text-center">Log in</h5>
          <div class="form-label-group">
            <input type="text" id="inputUsername" class="form-control" placeholder="Gebruikersnaam" [(ngModel)]="username"
              (keydown.enter)="login()" required autofocus>
          </div>

          <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Wachtwoord" (keydown.enter)="login()"
              [(ngModel)]="password" required>
          </div>
          <div style="text-align: center;">
            <div class="btn-group" role="group">
              <button class="btn btn-big btn-lg btn-primary text-uppercase" (click)="login()">
                Inloggen
              </button>
              <button class="btn btn-big btn-lg btn-success text-uppercase" (click)="onRegister()">
                Registeren
              </button>
            </div>
            <p class="text-muted">Wachtwoord vergeten? <a routerLink="/recover">Klik hier</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
