<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <!-- START If not success / still changing password-->
          <div *ngIf="!isSuccess">
            <alert [hidden]="!hasError(error)" type="danger">
              <button type="button" class="close" aria-label="Close" (click)="onClearError()">
                <span aria-hidden="true">&times;</span>
              </button>
              {{error}}
            </alert>
            <h5 class="card-title text-center">Wachtwoord vergeten</h5>
            <div class="form-label-group">
              <input type="email" id="inputUsername" class="form-control" placeholder="Email adres" [(ngModel)]="email"
                required autofocus>
            </div>
            <div class="form-label-group">
              <select id="selectQuestion" class="form-control" placeholder="Beveiligingsvraag" [(ngModel)]="selectedQuestion">
                <option *ngFor="let question of questions" [ngValue]="question">
                  {{question}}
                </option>
              </select>
            </div>
            <div class="form-label-group">
              <input type="input" id="inputQuestion" class="form-control" placeholder="Beveiligingsantwoord"
                [(ngModel)]="recoveryQuestionAnswer" required>
            </div>
            <button class="btn btn-lg btn-success btn-block text-uppercase" (click)="onRequestRecover()">
              Verander wachtwoord
              <fa name="check"></fa>
            </button>
            <button class="btn btn-lg btn-danger btn-block text-uppercase" (click)="onCancel()">
              Annuleren
              <fa name="times"></fa>
            </button>
          </div>
          <!-- END If not success / still changing password-->

          <!-- START If success -->
          <div *ngIf="isSuccess">
            <h5 class="card-title text-center">Wachtwoord aangepast!</h5>
            <button class="btn btn-lg btn-success btn-block text-uppercase" (click)="onCancel()">
              <fa name="arrow-left"></fa>
              Naar login
            </button>
          </div>
          <!-- END If success -->
        </div>
      </div>
    </div>
  </div>
</div>
