<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <!-- START If not success / still changing password-->
          <div *ngIf="!isSuccess">
            <alert [hidden]="!hasError(error)" type="danger">
              <button type="button" class="close" aria-label="Close" (click)="onClearError()">
                <span aria-hidden="true">&times;</span>
              </button>
              {{error}}
            </alert>
            <h5 class="card-title text-center">Wachtwoord vergeten</h5>
            <div class="form-label-group input-group">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">
                  <fa name="envelope"></fa>
                </div>
              </div>
              <input type="email" id="inputUsername" class="form-control rounded-input-with-label" placeholder="Email adres"
                [(ngModel)]="email" required autofocus [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading">
            </div>
            <div class="form-label-group input-group">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">
                  <fa name="question"></fa>
                </div>
              </div>
              <select id="selectQuestion" class="form-control rounded-input-with-label" placeholder="Beveiligingsvraag"
                [(ngModel)]="selectedQuestion" [disabled]="isLoading">
                <option [ngValue]="null" disabled hidden>Kies een beveiligingsvraag...</option>
                <option *ngFor="let question of questions" [ngValue]="question.Id">
                  {{question.RecoveryQuestion}}
                </option>
              </select>
            </div>
            <div class="form-label-group input-group">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">
                  <fa name="check"></fa>
                </div>
              </div>
              <input type="input" id="inputQuestion" class="form-control rounded-input-with-label" placeholder="Beveiligingsantwoord"
                [(ngModel)]="recoveryQuestionAnswer" required [disabled]="isLoading">
            </div>
            <div class="form-label-group input-group">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">
                  <fa name="lock"></fa>
                </div>
              </div>
              <input type="password" id="inputPassword" class="form-control rounded-input-with-label" placeholder="Wachtwoord"
                [(ngModel)]="password" required [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading">
            </div>
            <div class="form-label-group input-group">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">
                  <fa name="lock"></fa>
                </div>
              </div>
              <input type="password" id="inputPasswordRepeat" class="form-control rounded-input-with-label" placeholder="Wachtwoord herhalen"
                [(ngModel)]="passwordRepeat" required [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading"
                (keydown.enter)="onRequestRecover()">
            </div>
            <button class="btn btn-lg btn-success btn-block text-uppercase" [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading"
              (click)="onRequestRecover()">
              <div *ngIf="!isLoading || (isLoading && isLoadingQuestions(isLoading, questions))">
                Verander wachtwoord
                <fa name="check"></fa>
              </div>
              <div *ngIf="!isLoadingQuestions(isLoading, questions) && isLoading">
                <fa name="cog" size="2x" animation="spin"></fa>
              </div>
            </button>
            <button class="btn btn-lg btn-danger btn-block text-uppercase" (click)="onCancel()" [hidden]="!isLoadingQuestions(isLoading, questions) && isLoading">
              Annuleren
              <fa name="times"></fa>
            </button>
          </div>
          <!-- END If not success / still changing password-->

          <!-- START If success -->
          <div *ngIf="isSuccess">
            <h5 class="card-title text-center">Wachtwoord aangepast!</h5>
            <button class="btn btn-lg btn-success btn-block text-uppercase rounded-input" (click)="onChangeDone()">
              <fa name="arrow-left"></fa>
              Naar profiel
            </button>
          </div>
          <!-- END If success -->
        </div>
      </div>
    </div>
  </div>
</div>
