<div *ngIf="isLoading" style="text-align: center;">
  <fa name="cog" size="5x" animation="spin"></fa>
  <h1>Aan het zoeken...</h1>
</div>

<div *ngIf="!isLoading && !hasResults(receivedData) && (searchQuery == '' || searchQuery == null || searchQuery == undefined)"
  style="text-align: center;">
  <fa name="exclamation-triangle" size="4x"></fa>
  <h1>Geen gebruikersnaam ingevuld</h1>
</div>

<div *ngIf="!isLoading && !hasResults(receivedData) && !(searchQuery == '' || searchQuery == null || searchQuery == undefined)"
  style="text-align: center;">
  <fa name="search-minus" size="4x"></fa>
  <h1>Geen resultaten met de gebruikersnaam '<b>{{searchQuery}}</b>'</h1>
</div>

<div class="example-container" *ngIf="!isLoading && hasResults(receivedData)">
  <table mat-table [dataSource]="receivedData" class="example-table">
    <ng-container matColumnDef="Gebruikersnaam">
      <th mat-header-cell *matHeaderCellDef>
        Gebruikersnaam
      </th>
      <td mat-cell *matCellDef="let user">{{user.Username}}</td>
    </ng-container>

    <ng-container matColumnDef="Naam">
      <th mat-header-cell *matHeaderCellDef> Naam </th>
      <td mat-cell *matCellDef="let user"> {{user.Name}} </td>
    </ng-container>

    <ng-container matColumnDef="Geboortedatum">
      <th mat-header-cell *matHeaderCellDef>Geboortedatum </th>
      <td mat-cell *matCellDef="let user"> {{user.DateOfBirth}} </td>
    </ng-container>

    <ng-container matColumnDef="Acties">
      <th mat-header-cell *matHeaderCellDef> Acties </th>
      <td mat-cell *matCellDef="let user">
        <mat-chip-list>
          <mat-chip class="mat-success" *ngIf="user.HasRequestOpen == 1" (click)="onUserAdd(user)">
            <mat-icon>check</mat-icon> &nbsp;Accepteer vriendverzoek
          </mat-chip>
          <mat-chip class="mat-danger" *ngIf="user.HasRequestOpen == 1" (click)="onRemoveUser(user)">
            <mat-icon>clear</mat-icon> &nbsp;Weiger vriendverzoek
          </mat-chip>
          <mat-chip *ngIf="user.HasRequestOpen == 2" (click)="onLookupUser(user)">
            <mat-icon>person</mat-icon> &nbsp;Bekijk profiel
          </mat-chip>
          <mat-chip class="mat-danger" *ngIf="user.HasRequestOpen == 2" (click)="onRemoveUser(user)">
            <mat-icon>clear</mat-icon> &nbsp;Verwijder als vriend
          </mat-chip>
          <mat-chip class="mat-success" (click)="onUserAdd(user)" *ngIf="user.HasRequestOpen == 3">
            <mat-icon>person_add</mat-icon> &nbsp;Stuur vriendverzoek
          </mat-chip>
        </mat-chip-list>
        <span *ngIf="user.HasRequestOpen == 0">Verzoek is in aanvraag</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
