<mat-card class="card-half-size align-center-hor">
  <mat-card-content>
    <mat-horizontal-stepper #stepper [linear]="true" [selectedIndex]="step">
      <mat-step>
        <form>
          <mat-form-field class="mat-full-width">
            <ng-template matStepLabel>Account gegevens</ng-template>
            <input matInput type="text" placeholder="Gebruikersnaam" [(ngModel)]="username" required autofocus
              [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading" name="loginUsername">
            <button mat-button [disabled]="!username || (!isLoadingQuestions(isLoading, questions) && isLoading)"
              matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="username=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="mat-full-width">
            <input matInput type="password" placeholder="Wachtwoord" [(ngModel)]="password" required autofocus
              [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading" name="loginPassword">
            <button mat-button [disabled]="!password || (!isLoadingQuestions(isLoading, questions) && isLoading)"
              matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="password=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="mat-full-width">
            <input matInput type="password" placeholder="Wachtwoord (herhalen)" [(ngModel)]="passwordRepeat" required
              autofocus [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading" name="loginPassword">
            <button mat-button [disabled]="!passwordRepeat || (!isLoadingQuestions(isLoading, questions) && isLoading)"
              matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="passwordRepeat=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="mat-full-width">
            <input matInput type="text" placeholder="Naam" [(ngModel)]="name" required autofocus [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading"
              name="loginName">
            <button mat-button [disabled]="!name || (!isLoadingQuestions(isLoading, questions) && isLoading)" matSuffix
              mat-icon-button aria-label="Clear" tabindex="-1" (click)="name=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="mat-full-width">
            <input matInput type="text" placeholder="Email" [(ngModel)]="email" required autofocus [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading"
              name="loginEmail">
            <button mat-button [disabled]="!email || (!isLoadingQuestions(isLoading, questions) && isLoading)"
              matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="email=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="mat-full-width">
            <input matInput type="date" placeholder="Geboortedatum" [(ngModel)]="date" required autofocus [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading"
              name="loginDate">
            <button mat-button [disabled]="!date || (!isLoadingQuestions(isLoading, questions) && isLoading)" matSuffix
              mat-icon-button aria-label="Clear" tabindex="-1" (click)="date=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="mat-full-width">
            <mat-select placeholder="Beveiligingsvraag" [(ngModel)]="selectedQuestion" [disabled]="isLoading" name="loginRecoveryQuestion">
              <mat-option value="null" disabled hidden>Kies een beveiligingsvraag...</mat-option>
              <mat-option *ngFor="let question of questions" [value]="question.Id">
                {{question.RecoveryQuestion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-full-width">
            <input matInput type="text" placeholder="Beveiligingsantwoord" [(ngModel)]="recoveryQuestionAnswer"
              required autofocus [disabled]="isLoading" name="loginRecoveryAnswer">
            <button mat-button [disabled]="!recoveryQuestionAnswer || (!isLoadingQuestions(isLoading, questions) && isLoading)"
              matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="recoveryQuestionAnswer=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div>
            <button mat-button class="mat-danger" (click)="onCancel()" [hidden]="!isLoadingQuestions(isLoading, questions) && isLoading">
              Annuleren
              <fa name="times"></fa>
            </button>
            <button mat-button class="mat-success pull-right" (click)="onRegisterUser()" *ngIf="!isLoading || (isLoading && isLoadingQuestions(isLoading, questions))">
              Volgende
              <fa name="arrow-right"></fa>
            </button>
            <div class="text-center" *ngIf="!isLoadingQuestions(isLoading, questions) && isLoading">
              <fa name="cog" size="4x" animation="spin"></fa>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [editable]="isDoneWithFirst">
        <ng-template matStepLabel>Persoonlijke gegevens</ng-template>
        <form>
          <mat-form-field class="mat-full-width">
            <input matInput type="text" placeholder="Lengte" [(ngModel)]="length" required autofocus [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading"
              name="loginLength">
            <button mat-button [disabled]="!length || !isLoadingQuestions(isLoading, questions) && isLoading" matSuffix
              mat-icon-button aria-label="Clear" tabindex="-1" (click)="length=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="mat-full-width">
            <input matInput type="text" placeholder="weigth" [(ngModel)]="weigth" required autofocus [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading"
              name="loginWeight">
            <button mat-button [disabled]="!weigth || !isLoadingQuestions(isLoading, questions) && isLoading" matSuffix
              mat-icon-button aria-label="Clear" tabindex="-1" (click)="weigth=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="mat-full-width">
            <mat-select placeholder="Geslacht" [(ngModel)]="gender" required autofocus [disabled]="!isLoadingQuestions(isLoading, questions) && isLoading"
              name="loginGender">
              <mat-option value="null" disabled hidden>Kies geslacht</mat-option>
              <mat-option value="0">
                Man
              </mat-option>
              <mat-option value="1">
                Vrouw
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button class="mat-danger" (click)="onCancel()" [hidden]="!isLoadingQuestions(isLoading, questions) && isLoading">
            Annuleren
            <fa name="times"></fa>
          </button>
          <button mat-button class="mat-success pull-right" (click)="onRegisterProfile()" *ngIf="!isLoading || (isLoading && isLoadingQuestions(isLoading, questions))">
            Volgende
            <fa name="arrow-right"></fa>
          </button>
          <div class="text-center" *ngIf="!isLoadingQuestions(isLoading, questions) && isLoading">
            <fa name="cog" size="4x" animation="spin"></fa>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Klaar!</ng-template>
        Account aangemaakt!
        <button mat-button class="mat-success pull-right" (click)="onToProfile()">
          Naar profiel
          <fa name="arrow-right"></fa>
        </button>
      </mat-step>
    </mat-horizontal-stepper>

  </mat-card-content>
</mat-card>
