<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <alert [hidden]="!hasError(error)" type="danger">
            <button type="button" class="close" aria-label="Close" (click)="onClearError()">
              <span aria-hidden="true">&times;</span>
            </button>
            {{error}}
          </alert>
          <h5 class="card-title text-center">Registreer (stap {{step}} / 2)</h5>
          <!-- START step 1 of registration -->
          <div *ngIf="checkIfStep(1)">
            <div class="form-label-group">
              <input type="text" id="inputUsername" class="form-control" placeholder="Gebruikersnaam" (keydown.enter)="login()"
                [(ngModel)]="username" required autofocus>
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Wachtwoord" [(ngModel)]="password"
                required>
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPasswordRepeat" class="form-control" placeholder="Wachtwoord (herhalen)"
                [(ngModel)]="passwordRepeat" required>
            </div>
            <div class="form-label-group">
              <input type="text" id="inputName" class="form-control" placeholder="Naam" required [(ngModel)]="name">
            </div>
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email adres" required [(ngModel)]="email">
            </div>
            <div class="form-label-group">
              <input type="date" id="inputDate" class="form-control" placeholder="Geboortedatum" required [(ngModel)]="date">
            </div>
            <div class="form-label-group">
              <select id="selectQuestion" class="form-control" placeholder="Beveiligingsvraag" [(ngModel)]="selectedQuestion">
                <option *ngFor="let question of questions" [ngValue]="question">
                  {{question}}
                </option>
              </select>
            </div>
            <div class="form-label-group">
              <input type="input" id="inputQuestion" class="form-control" placeholder="Beveiligingsantwoord"
                [(ngModel)]="recoveryQuestionAnswer" required>
            </div>
            <button class="btn btn-lg btn-success btn-block text-uppercase" (click)="onRegisterUser()">
              Volgende
              <fa name="arrow-right"></fa>
            </button>
            <button class="btn btn-lg btn-danger btn-block text-uppercase" (click)="onCancel()">
              Annuleren
              <fa name="times"></fa>
            </button>
          </div>
          <!-- END step 1 of registration -->
          <div *ngIf="checkIfStep(2)">
            <div class="form-label-group">
              <input type="number" id="inputLength" class="form-control" placeholder="Lengte" required [(ngModel)]="length">
            </div>
            <div class="form-label-group">
              <input type="number" id="inputWeigth" class="form-control" placeholder="Gewicht (in kg)" required
                [(ngModel)]="weigth">
            </div>
            <button class="btn btn-lg btn-success btn-block text-uppercase" (click)="onRegisterProfile()">
              Registreer
              <fa name="check"></fa>
            </button>
            <button class="btn btn-lg btn-danger btn-block text-uppercase" (click)="onCancel()">
              Annuleren
              <fa name="times"></fa>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
