<div *ngIf="isLoading" style="text-align:center;">
  <fa name="cog" size="5x" animation="spin"></fa>
  <h1>Profiel aan het ophalen...</h1>
</div>

<div class="content" *ngIf="profile && !isLoading">
  <!-- START Profile bar left-->
  <mat-sidenav-container>
    <mat-sidenav #drawer mode="side" [opened]="profileSideOpened">
      <mat-list>
        <mat-list-item>
          <h4 mat-line> {{profile.User.Name}}</h4>
          <mat-icon mat-list-icon>person</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>wc</mat-icon>
          <h4 mat-line> {{profile.User.Gender == 0 ? 'Man' : 'Vrouw'}}</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>cake</mat-icon>
          <h4 mat-line> {{profile.User.DateOfBirth | date:'dd-MM-yyyy'}}</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>alternate_email</mat-icon>
          <h4 mat-line> {{profile.User.Email}}</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>fitness_center</mat-icon>
          <h4 mat-line> {{profile.Weigth}} kg</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>straighten</mat-icon>
          <h4 mat-line> {{profile.Length}} cm</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>airline_seat_flat</mat-icon>
          <h4 mat-line> {{profile.IsLazy ? 'Ja' : 'Nee'}}</h4>
        </mat-list-item>
      </mat-list>

      <button mat-raised-button class="mat-full-width" (click)="onEnableEdit()" [disabled]="isLoading">
        <mat-icon>edit</mat-icon>
        Wijzig profiel
      </button>
    </mat-sidenav>
    <!-- END Profile bar left-->

    <!-- START Main content-->
    <div style="height:92vh;">
      <mat-toolbar-row>
        <nav mat-tab-nav-bar>
          <a mat-tab-link class="mat-tab-a" (click)="openTab('achievements')" [active]="currentTab === 'achievements'">
            Achievements
          </a>
          <a mat-tab-link class="mat-tab-a" (click)="openTab('vrienden')" [active]="currentTab === 'vrienden'">
            Vrienden
          </a>
        </nav>
      </mat-toolbar-row>
      <div *ngIf="currentTab=='achievements'" style="padding-left: 3px;">
        <app-achievement [profile]="profile" [incompletedAchievements]="incompletedAchievements"
          [completedAchievements]="completedAchievements"></app-achievement>
      </div>

      <div *ngIf="currentTab=='vrienden'" style="padding-left: 3px;">
        <app-friends [friends]="profile.Friends"></app-friends>
      </div>
    </div>
    <!-- END Main content-->
  </mat-sidenav-container>
</div>

<div *ngIf="!profile && !isLoading" style="text-align:center;">
  <fa name="times" size="5x"></fa>
  <h1>Er is iets mis gegaan met het ophalen van het profiel!</h1>
</div>
