<div *ngIf="isLoading" style="text-align:center;">
  <fa name="cog" size="5x" animation="spin"></fa>
  <h1>Profiel aan het ophalen...</h1>
</div>

<div class="content" *ngIf="profile && !isLoading">
  <!-- START Profile bar left-->
  <mat-sidenav-container>
    <mat-sidenav #drawer mode="side" [opened]="profileSideOpened">
      <mat-list>
        <mat-list-item>
          <h4 mat-line> {{profile.User.Name}}</h4>
          <mat-icon mat-list-icon>person</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>cake</mat-icon>
          <h4 mat-line> {{profile.User.DateOfBirth | date:'dd-MM-yyyy'}}</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>alternate_email</mat-icon>
          <h4 mat-line> {{profile.User.Email}}</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>fitness_center</mat-icon>
          <h4 mat-line> {{profile.Weigth}} kg</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>straighten</mat-icon>
          <h4 mat-line> {{profile.Length}} cm</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>airline_seat_flat</mat-icon>
          <h4 mat-line> {{profile.IsLazy ? 'Ja' : 'Nee'}}</h4>
        </mat-list-item>
      </mat-list>

      <button mat-raised-button class="mat-full-width" (click)="onEnableEdit()" [disabled]="isLoading">
        <mat-icon>edit</mat-icon>
        Wijzig profiel
      </button>
    </mat-sidenav>
    <!-- END Profile bar left-->

    <!-- START Main content-->
    <div style="height:92vh;">
      <!-- <h2 style="display: inline-block">Behaalde achievement!</h2>
      <ul>
        <li *ngFor="let a of completedAchievements">
          {{a.Achievement.Name}}
        </li>
      </ul>

      <h2>Zo dichtbij!</h2>
      <div *ngFor="let a of incompletedAchievements">
        {{a.Achievement.Name}}
        <div class="progress" style="width: 40%">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width': getPercentage(a)+'%'}"
            attr.aria-valuenow="{{getPercentage(a)}}" aria-valuemin="0" aria-valuemax="100">
            <span> <b>{{getPercentage(a)}}% ({{a.CurrentPoints}} / {{a.Achievement.RequiredPoints}})</b></span>
          </div>
        </div>
      </div> -->
    </div>
    <!-- END Main content-->
  </mat-sidenav-container>
</div>

<div *ngIf="!profile && !isLoading" style="text-align:center;">
  <fa name="times" size="5x"></fa>
  <h1>Er is iets mis gegaan met het ophalen van het profiel!</h1>
</div>
