<div class="carouselslide" data-ride="carousel" data-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="assets/thumbnail2.png" alt="First slide">
    </div>
  </div>

  <div class="uitleg_tekst">
    <h1 style="text-align: center;">Wat is Lazy Overflow?</h1>
    <p style="text-align: center;"> De website is voornamelijk gemaakt voor mensen die veel zitten
      tijdens het werk. Deze
      mensen werken vaak van 8:30 tot 17:00 uur. Veel mensen gaan dan met de auto of het openbaar vervoer naar huis.
      Daarnaast sporten mensen thuis weinig tot niet. Deze web-applicatie gaat er voor zorgen dat mensen samen gaan
      bewegen
      en daarbij nog een beetje conditie op bouwen ook. “Het maakt niet uit hoe langzaam je gaat, je haalt nog steeds
      iedereen in die zit”.</p><br><br>
  </div>

  <div class="Container">
    <h1 style="text-align: center;">About Us</h1>
    <p>
      Wij zijn Lazy Overflow, een project groep van de opleiding HBO-ICT Fontys Hogescholen. Ons project<br>
      bestaat uit 6 mensen, met de profielen Software - Media&Design - Technology. Dit project is <br>
      gericht op de doelgroep ICT'ers van Fontys en andere ICT'ers in Nederland, het doel van <br>
      ons project is om ICT'ers een gezonder leven aantebieden met hulp van ons product.
    </p><br><br>
  </div>

  <div class="MeetTheTeam">
    <h1 style="text-align: center;">Meet The Team</h1><br>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <h2 mat-line>
          <h5>Siebren</h5>
          Hallo, ik ben Siebren en ben 20 jaar oud. Ik ben een gemotiveerde developer die graag communiceert.<br>
           Andere zouden mij beschrijven als grappig, behulpzaam en slim. Mijn hobby’s zijn programma’s<br>
            maken en stukmaken en af en toe een festival pakken. Graag zou ik de Cyber Security in gaan.<br>
             Voel je vrij om even langs te komen en een praatje te maken :)
        </h2>
        <img class="about-us-badge" src="https://fhict.instructure.com/images/thumbnails/683339/2nxQxXqBABCmwzUUAyn724vkWj91QzlKckwBm8Kp">
      </mat-list-item>
      <br><br><br>
      <mat-divider></mat-divider>
      <br><br><br>
      <mat-list-item role="listitem">
        <img mat-list-avatar src="https://fhict.instructure.com/images/thumbnails/705319/0EZJI5Sxt2BBwzEqUr3FbKJdwdilfgpRTg6dlmJL"
          class="about-us-badge">
        <h2 mat-line>
          <h5>Xander</h5>
        </h2>
      </mat-list-item>
      <br><br><br>
      <mat-divider></mat-divider>
      <br><br><br>
      <mat-list-item role="listitem">
        <h2 mat-line><h5>Angelo</h5>
          Hoi! Ik ben Angelo 18 jaar en, ik ben student op Fontys-Hogeschole HBO-ICT. Ik studeer nu ongeveer een half jaar,<br>
          ik kan het beste coderen in c#, html en css en een beetje Javascript. Volgend semester doe ik Software
        </h2>
        <img class="about-us-badge" src="https://fhict.instructure.com/images/thumbnails/722176/JwlB5ggs8XKbjH4kw5WPPN4ehGOAdjuzlDCHVnYn">
      </mat-list-item>
      <br><br><br>
      <mat-divider></mat-divider>
      <br><br><br>
      <mat-list-item role="listitem">
        <img mat-list-avatar src="https://fhict.instructure.com/images/thumbnails/684709/eD7BQ8009Zqz9VTPsDzZ7nrHh5rJHNlcxfhjndFU"
          class="about-us-badge">
        <h2 mat-line>
          <h5>Kyle</h5>

        </h2>
      </mat-list-item>
      <br><br><br>
      <mat-divider></mat-divider>
      <br><br><br>
      <mat-list-item role="listitem">
        <img class="about-us-badge" src="https://fhict.instructure.com/images/thumbnails/682215/eZ0VgPQOwxEucKdUwxaKDcEFXJXVebBCuXkeKt3T"
          class="about-us-badge">
        <h2 mat-line>
          <h5>Janneke</h5>Mijn naam is Janneke en ik ben 19 jaar. Ik ben een sterk gemotiveerde,<br>           proactieve programmeur, werk resultaat gericht, functioneer goed onder druk & <br>            deadlines en daarnaast klantvriendelijk. Ook ben ik een gemotiveerde HBO ICT <br>           student op het Fontys in Tilburg waar ik ICT & Media ga studeren. Ik heb al enige <br>             kennis met C#, Javascript, HTML, CSS, Arduino C en ook wat basiskennis van <br>            andere talen. Daarnaast zou ik mijn persoonlijkheid willen omschrijven als creatief, <br>            nieuwsgierig, sociaal, behulpzaam, enthousiast, eerlijk, energiek en perfectionistisch. <br>           Wil je meer over mij weten? Kom dan even een praatje maken!
        </h2>
      </mat-list-item>
      <br><br><br>
      <mat-divider></mat-divider>
      <br><br><br>
      <mat-list-item role="listitem">
        <img mat-list-avatar src="https://fhict.instructure.com/images/thumbnails/702284/ccPelW2xcD3V46mh8KG1a9WqE748Jl2ouzjFVJLk"
          class="about-us-badge">
        <h2 mat-line>
          <h5>Job</h5>
          Hallo! ik ben Job Verwiel. Ik ben 18 jaar oud en ik ben student bij Fontys Tilburg bij de studie ICT!.<br>
          Voor deze opleiding had ik niet echt ervaring met coderen dus ik heb alleen ervaring met C# <br>
          en een beetje html/css.  In het volgende semester ga ik de software richting doen. 

        </h2>
      </mat-list-item>
      <br><br>

    </mat-list>

  </div>
