<mat-slide-toggle [(ngModel)]="shouldShowProgress" color="primary">
  {{!shouldShowProgress ? 'Behaalde achievements' : 'Te behalen achievements'}}
</mat-slide-toggle>

<div *ngIf="!shouldShowProgress" class="main-div">
  <h2 style="text-align: center; width: 100%;">Behaalde achievements!
  </h2>
  <br>
  <div *ngFor="let a of completedAchievements" style="padding-right: 10px">
    <mat-card class="achievement-card center" *ngIf="!shouldShowAchievement(a)">
      <mat-card-header>
        <img matTooltip="{{a.Achievement.Description}}" mat-card-avatar src="{{achievementService.getImage(a)}}" class="achievement-badge-avatar">
        <mat-card-title>{{a.Achievement.Description}}</mat-card-title>
        <mat-card-subtitle>Niveau {{toReadableTier(a.Achievement.Tier)}} ({{a.Achievement.Tier}})</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<div *ngIf="shouldShowProgress" class="main-div">
  <h2 style="text-align: center; width: 100%;">Deze achievement heb je bijna behaald!</h2>
  <br>
  <div *ngFor="let a of incompletedAchievements" style="padding-right: 10px">
    <mat-card class="achievement-card center">
      <mat-card-header>
        <img matTooltip="{{a.Achievement.Description}}" mat-card-avatar src="{{achievementService.getImage(a)}}" class="achievement-badge-avatar">
        <mat-card-title>{{a.Achievement.Description}}</mat-card-title>
        <mat-card-subtitle>Niveau {{toReadableTier(a.Achievement.Tier)}} ({{a.Achievement.Tier}})</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{achievementService.getPercentage(a)}}%
        ({{a.CurrentPoints}} /
        {{a.Achievement.RequiredPoints}})
        <mat-progress-bar mode="determinate" value="{{achievementService.getPercentage(a)}}" style="height:20px;"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
