<h2>Wijzig profiel</h2>
<div class="form-label-group input-group">
  <div class="input-group-prepend">
    <div class="input-group-text" id="btnGroupAddon">
      <fa name="tag"></fa>
    </div>
  </div>
  <input type="text" id="inputName" class="form-control rounded-input-with-label" placeholder="Naam" [(ngModel)]="newName"
    required style="flex:none; width: 30%;">
</div>

<div class="form-label-group input-group">
  <div class="input-group-prepend">
    <div class="input-group-text" id="btnGroupAddon">
      <fa name="user"></fa>
    </div>
  </div>
  <input type="text" id="inputUsername" class="form-control rounded-input-with-label" placeholder="Gebruikersnaam"
    [(ngModel)]="newUsername" required style="flex:none; width: 30%;">
</div>

<div class="form-label-group input-group">
  <div class="input-group-prepend">
    <div class="input-group-text" id="btnGroupAddon">
      <fa name="lock"></fa>
    </div>
  </div>
  <input type="password" id="inputPassword" class="form-control rounded-input-with-label" placeholder="Wachtwoord"
    [(ngModel)]="password" required style="flex:none; width: 30%;">
</div>

<div class="form-label-group input-group">
  <div class="input-group-prepend">
    <div class="input-group-text" id="btnGroupAddon">
      <fa name="envelope"></fa>
    </div>
  </div>
  <input type="email" id="inputEmail" class="form-control rounded-input-with-label" placeholder="Email" [(ngModel)]="newEmail"
    required style="flex:none; width: 30%;">
</div>

<div class="form-label-group input-group">
  <div class="input-group-prepend">
    <div class="input-group-text" id="btnGroupAddon">
      <fa name="lock"></fa>
    </div>
  </div>
  <input type="number" id="inputLength" class="form-control rounded-input-with-label" placeholder="Lengte" [(ngModel)]="newLength"
    required style="flex:none; width: 30%;">
</div>

<div class="form-label-group input-group">
  <div class="input-group-prepend">
    <div class="input-group-text" id="btnGroupAddon">
      <fa name="lock"></fa>
    </div>
  </div>
  <input type="number" id="inputWeigth" class="form-control rounded-input-with-label" placeholder="Gewicht" [(ngModel)]="newWeigth"
    required style="flex:none; width: 30%;">
</div>
