<mat-toolbar role="heading" color="primary">
  <mat-toolbar-row>
    <nav mat-tab-nav-bar>
      <a mat-tab-link class="mat-tab-a" routerLink="/home" [active]="isActive('/home')">
        Home
      </a>
      <a mat-tab-link class="mat-tab-a" routerLink="/profile" [active]="isActive('/profile')">
        Mijn profiel
      </a>
      <a mat-tab-link class="mat-tab-a" routerLink="/exercises" [active]="isActive('/exercises')">
        Oefeningen
      </a>
    </nav>
    <!-- Make sure to fill page, to align things on right side -->
    <span class="fill-space"></span>

    <mat-form-field *ngIf="authenticationService.isLoggedIn()" class="search-input" appearance="outline">
      <mat-label>Zoeken</mat-label>
      <input matInput type="text" [(ngModel)]="searchUsername" (keydown.enter)="onSearchUsername()" name="searchBarInput">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchUsername()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <button mat-mini-fab color="primary">
      <mat-icon matBadge="{{appService.notifications.length}}" matBadgeColor="warn">notifications</mat-icon>
    </button>

    <div *ngIf="authenticationService.isLoggedIn()" style="padding-left: 10px;">
      <button mat-button class="mat-danger" (click)="logout()">
        {{getUsername()}} &nbsp;
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
    <div *ngIf="!authenticationService.isLoggedIn()" style="padding-left: 10px;">
      <button mat-button class="mat-success" (click)="login()">
        Inloggen &nbsp;
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Fit devs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div *ngIf="authenticationService.isLoggedIn()">
        <button [class]="getClass('/profile')" (click)="navigate('/profile')"> Mijn profiel
        </button>
        <button [class]="getClass('/friends')" (click)="navigate('/friends')">Mijn vrienden
        </button>
        <button [class]="getClass('/exercises')" (click)="navigate('/exercises')">Oefeningen
        </button>
      </div>
    </ul>


    <div *ngIf="authenticationService.isLoggedIn()">
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">{{getUsername()}}
        <fa name=" fa-sign-out"></fa>
      </button>
    </div>
    <div *ngIf="!authenticationService.isLoggedIn()">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">Inloggen
        <fa name=" fa-sign-in"></fa>
      </button>
    </div>
  </div>
</nav> -->
