<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Fit devs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div *ngIf="authenticationService.isLoggedIn()">
        <button [class]="getClass('/profile')" (click)="navigate('/profile')"> Mijn profiel
        </button>
        <button [class]="getClass('/friends')" (click)="navigate('/friends')">Mijn vrienden
        </button>
        <button [class]="getClass('/exercises')" (click)="navigate('/exercises')">Oefeningen
        </button>
      </div>
    </ul>

    <form class="form-inline mr-3" *ngIf="authenticationService.isLoggedIn()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Zoek gebruikersnaam" aria-label="Zoek gebruikersnaam"
          aria-describedby="button-addon2" [(ngModel)]="searchUsername" (keydown.enter)="onSearchUsername()" name="searchBarInput">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="onSearchUsername()">
            <fa name="search"></fa>
          </button>
        </div>
      </div>
    </form>

    <div *ngIf="authenticationService.isLoggedIn()">
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">{{getUsername()}}
        <fa name=" fa-sign-out"></fa>
      </button>
    </div>
    <div *ngIf="!authenticationService.isLoggedIn()">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">Inloggen
        <fa name=" fa-sign-in"></fa>
      </button>
    </div>
  </div>
</nav>
