.menu-bar-item
    box-shadow: none !important
    border: none
    border-radius: 0px
    background-color: #f8f9fa
    &:hover
        border-bottom: 2px solid black
        border-top: 2px solid black
.selected
    border-bottom: 1px solid black
.fill-space
  flex: 1 1 auto
.mat-tab-nav-bar
    border-bottom: 0px !important
.search-input
    font-size: 15px
    padding-right: 50px
    padding-top: 15px
.button-padding
    padding-left: 15px
.mat-tab-a
    text-decoration: none
    color: var(--white)
    &:hover
        color: var(--white)
.app-toolbar
  position: sticky
  position: -webkit-sticky
  top: 0
  z-index: 1000
