<div *ngIf="_friends.length === 0" style="text-align:center;">
  <mat-icon>sentiment_very_dissatisfied</mat-icon>
  <h3>Je hebt nog geen vrienden</h3>
</div>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let friend of _friends" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{friend.Name}}
      </mat-panel-title>
      <mat-panel-description>
        Show Profile And Achievements
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <table style="width:40%">
      <tr>
        <th>Naam:</th>
        <td>{{friend.Name}}</td>
      </tr>
      <tr>
        <th>Geboortedatum:</th>
        <td>{{toReadableDate(friend.DateOfBirth)}}</td>
      </tr>
      <tr>
        <th>Lui:</th>
        <td>{{friend.IsLazy ? 'Ja' : 'Nee'}}</td>
      </tr>
    </table>
    <mat-divider></mat-divider>
    <br>
    <h2>Achievements</h2>
    <div *ngIf="shouldShowDevider(friend) == false">No Achievements available for this user</div>
    <div class="BadgeLayout" *ngFor="let achievement of friend.CompletedAchievements">
      <img style="width:75px;height:75px;" matTooltip="{{achievement.Achievement.Description}}" src="../../assets/images/{{getPlaatje(achievement)}}.png"
        class="achievement-badge-avatar">
      <p>{{achievement.Achievement.Name}} </p>
    </div>

    <mat-action-row>
      <button mat-raised-button (click)="onRemoveUser(friend)" color="danger"> Verwijder Vriend </button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
