/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'

.friend-request-snack
    color: var(--white)
    background-color: var(--success)
.error-snack
   background-color: var(--danger) 
   color: var(--white)
.success-snack
    background-color: var(--success)
    color: var(--white)
.mat-success
    background-color: var(--success) !important
    color: var(--white) !important
    &:disabled
        opacity: .65
.mat-danger
    background-color: #dc3545 !important
    color: var(--white) !important
    &:disabled
        opacity: .65
.mat-small-button
    font-size: 0.7rem
.mat-full-width
    width: 100% !important
.mat-card-header-grey
    background-color: #f5f5f5
.mat-spinner 
    margin-left: 45%
.no-margin
    margin: 0 !important
.mat-grid-tile-overflow-visible
    overflow: visible !important
.align-center-hor
    margin-left: auto
    margin-right: auto
.card-half-size
    width: 50%
.card-quarter-size
    width: 25%
.text-center
    text-align: center


